{% extends "caps/BaseHome.html" %}

{% block title %} CaPS - Resources {% endblock title %}

{% load static %}

{% block content %}
<div class="section">
<div class="right health-tips">
    <div class="card white">
        <div class="card-content">
            <span class="card-title">Jump to:</span>
            <ul><hr>
            <li><a href="#on-campus-resources" target="_self">On-Campus Resources</a></li><hr>
            <li><a href="#local-resources" target="_self">Local Resources</a></li><hr>
            <!-- For a future iteration
            <a href="#additional-resources" target="_blank">Additional Resources and Hotlines</a><br>
            -->
            </ul>
        </div>
    </div>
</div>
<h4 class="grey-text text-lighten-1">Resources: Aid at your fingertips</h4>
<p>
In addition to the services CaPS offers, there are things you can do and good information you can read to learn more
about your emotional/mental health.<br>
Please be aware that CaPS does not monitor or endorse the websites listed below.<br>
If you have any questions or concerns about your particular situation, give us a call.
</p><br><br><br>
</div>
<div class="divider"></div>

<div class="section">
<h4 class="grey-text text-lighten-1" id="on-campus-resources">On-Campus Resources</h4>
<br>
<div class="card red darken-4">
<div class="card-content">
<div class="row">
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.cmu.edu/police/" target="_blank">
                        CMU University Police Department
                    </a>
                </span>
                <p>
                    The university’s safety and public safety resources.
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.cmu.edu/student-affairs/" target="_blank">
                        Division of Student Affairs
                    </a>
                </span>
                <p>
                    Supports and fosters students' intellectual and personal growth with campus life, community
                    engagement, cultural comprehension, health and well-being, leadership, and professional development.
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.cmu.edu/health-services/index.html" target="_blank">
                        University Health Services
                    </a>
                </span>
                <p>
                    The university’s safety and public safety resources.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.cmu.edu/acadev/" target="_blank">
                        Academic Development
                    </a>
                </span>
                <p>
                    Offers a variety of academic support services like developing study strategies, study skills
                    pamphlets, peer tutoring, supplemental instruction, and collaborative learning groups.
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.cmu.edu/hr/eos/disability/index.html" target="_blank">
                        Equal Opportunity Services and Disability Resources
                    </a>
                </span>
                <p>
                    Offers accommodation and services to students who have been diagnosed with a psychiatric or
                    neurological condition that affects their academic performance.
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.cmu.edu/gcc/" target="_blank">
                        Global Communication Center
                    </a>
                </span>
                <p>
                    Helps students improve their oral, written, and visual communication skills through tutoring.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.cmu.edu/icc/" target="_blank">
                        Intercultural Communication Center
                    </a>
                </span>
                <p>
                    Offers language and culturural skill development services to non-English speakers.
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.studentaffairs.cmu.edu/oie/" target="_blank">
                        Office of International Education
                    </a>
                </span>
                <p>
                    Helps international students with personal, social, academic, immigration/visa, and acculturation
                    issues.
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.cmu.edu/cmarc/" target="_blank">
                        Carnegie Mellon Advising Resource Center (CMARC)
                    </a>
                </span>
                <p>
                    Serves under-represented populations and students in transition with holistic advising, leadership
                    development, professional development, and other opportunities.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<br></div>
<div class="divider"></div>

<div class="section">
<h4 class="grey-text text-lighten-1 three-columns" id="local-resources">Local Resources</h4>
<div class="card red darken-4">
<div class="card-content">
<div class="row">
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.upmc.com/locations/hospitals/western-psychiatric/pages/default.aspx"
                       target="_blank">
                        Western Psychiatric Institute and Clinic
                    </a>
                </span>
                <p>
                    Provides mental health services, including emergency hospitalizations.
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.gatewayrehab.org/treatment-and-services" target="_blank">
                        Gateway Rehabilitation Center
                    </a>
                </span>
                <p>
                    Offers a variety of alcohol and other drugs treatment.
                </p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card white">
            <div class="card-content">
                <span class="card-title">
                    <a href="http://www.plannedparenthood.org/western-pennsylvania/" target="_blank">
                        Planned Parenthood
                    </a>
                </span>
                <p>
                    Women&#8217;s health care and information.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% endblock content %}