{% extends "caps/BaseHome.html" %}

{% block title %} CaPS - Services {% endblock title %}

{% load static %}

{% block content %}

<div class="section">
<h4 class="grey-text text-lighten-1" id="on-campus-resources">Services: Discover what CaPS can offer you</h4>
<br>
</div>
<div class="divider"></div>

<div class="section">
<br>
<div class="card grey lighten-2">
    <div class="card-content grey-text text-darken-3">
        <div class="row">
        <div class="col s6">
        <span class="card-title">Consultation</span>
        <p>
        We offer consultation services to students. Consultations typically involve talking with a therapist about a
        particular issue, perhaps worry about a friend or a question about your own mental health. Students interested
        in services at CaPS will have a consultation as their first encounter with a CaPS therapist.
        </p>
        <p>
        We also offer consultation services for staff, faculty, advisors, or administrators. Consultation can address
        such issues as campus and community services, referring a student to services, and intervening with a student in
        distress.
        </p>
        </div>
        <div class="col s6">
        <img src="{% static "caps/images/services-consultation.jpg" %}" width="100%">
        </div>
        </div>
    </div>
</div>
<br>
</div>
<div class="divider"></div>

<div class="section">
<br>
<div class="card grey lighten-2">
    <div class="card-content">
        <div class="row">
        <div class="col s6">
        <img src="{% static "caps/images/services-individual.jpg" %}" width="100%">
        </div>
        <div class="col s6">
        <span class="card-title">Individual Therapy</span>
        <p>
        CaPS offers free, confidential short-term psychotherapy to students enrolled at the Pittsburgh campus. Having a
        conversation with a non-judgmental, culturally-sensitive therapist is a good place to start. The sessions
        provide students the opportunity to speak freely and discuss private, personal issues.
        </p>
        <p>
        If a student is interested in longer-term care or needs more intensive support or frequent visits, CaPS staff
        can help identify resources in the community.
        </p>
        </div>
        </div>
    </div>
</div>
<br>
</div>
<div class="divider"></div>

<div class="section">
<br>
<div class="card grey lighten-2">
    <div class="card-content">
        <div class="row">
        <div class="col s6">
        <span class="card-title">Outreach and Educational Presentations</span>
        <p>
        CaPS offers outreach presentations, seminars and discussion groups on a variety of topics. Workshops can be
        requested by anyone affiliated with CMU and are facilitated by CaPS professional staff or graduate students in
        training.
        </p>
        <p>
        We have done presentations on topics like healthy relationships, self-care, resilience and how to help a friend.
        Presentations are not limited to these topics and can be developed toward your special interest or concern.
        For more information or to request an outreach presentation or tabling event, please contact Viviana
        Ferrer-Medina, Psy.D., Outreach Coordinator at 412-268-2922. We ask that you give us at least two weeks notice
        before the workshop date.
        </p>
        </div>
        <div class="col s6">
        <img src="{% static "caps/images/services-outreach.jpg" %}" width="100%">
        </div>
        </div>
    </div>
</div>
<br>
</div>
<div class="divider"></div>

<div class="section">
<br>
<div class="card grey lighten-2">
    <div class="card-content">
        <div class="row">
        <div class="col s6">
        <img src="{% static "caps/images/services-referrals.jpg" %}" width="100%">
        </div>
        <div class="col s6">
        <span class="card-title">Referrals</span>
        <p>
        In cases when there is a desire or need for longer-term care, specialized care, or a higher level of care,
        CaPS staff will help students consider resource options in the community that are accessible and affordable.
        These might include long-term psychotherapy, psychiatric care, psychological evaluations, or specialized care
        for things like eating disorders and substance abuse problems.
        </p>
        <p>
        Students who already know they want to connect with services in the community may call CaPS for assistance and
        to discuss options. You will likely have to use your health insurance to pay for services. Typically, your
        health insurance will cover a portion of the cost per session. Please note that for those students using the
        CMU Aetna health insurance, therapy sessions are covered in full with no copayment.
        </p>
        <p>
        You may also find out about local resources by checking out our resources page, going to APA’s Find a
        Psychologist, or checking with your health insurance website.
        </p>
        </div>
        </div>
    </div>
</div>
<br>
</div>
<div class="divider"></div>

<div class="section">
<br>
<div class="card grey lighten-2">
    <div class="card-content">
        <div class="row">
        <div class="col s6">
        <span class="card-title">Psychiatric Care</span>
        <p>
        CaPS partners with University Health Services (UHS) to provide psychiatric care. CaPS can assist in connecting
        students to UHS to refill certain prescriptions for students — such as anti-depressant, ADHD/ADD and
        anti-anxiety medication — with a copy of current medical records, diagnosis and prescription. Additionally UHS
        can provide an initial evaluation for psychiatric medication and provide medication management for students with
        psychiatric medication needs.
        </p>
        <p>
        CaPS and UHS also partner to provide community referrals to students requiring complex and/or long-term
        psychiatric needs and for specialized issues like a formal assessment for ADHD/ADD medications.
        We can help you identify and connect with psychiatrists in the community.
        </p>
        <p>
        It is most often best to participate in therapy while taking medication, as this can offer the greatest gains
        over medication alone. If you are interested in medication without therapy, we can help determine whether this
        would be advisable.
        </p>
        </div>
        <div class="col s6">
        <img src="{% static "caps/images/services-psychiatric.jpg" %}" width="100%">
        </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}